.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 400px;
  height: 300px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  outline: none;
}
